@use '../../../shared/ui/styleConfig';

.sidebar {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  @include styleConfig.mainItem;

  .img-wrapper {
    margin-bottom: 1rem;
    overflow: hidden;
    .img {
      filter: blur(12px);
      object-fit: cover;
    }
  }
  @media only screen and (max-width: 576px) {
    display: none;
  }
}
