@use '../../styleConfig';
.main {
  width: 100vw;
  height: 100vh;
  background-color: styleConfig.$bg-color;
  .flexRow {
    display: flex;
    justify-content: space-between;
    height: 85%;
  }
}
