@use '../../../../shared/ui/styleConfig';

.drag-el {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding: 2px;
  // background-color: red;
  color: #fff;
  &__img {
    flex: 1;
    max-width: 75%;
    // height: 50%;
  }
  &__counter {
    width: 1rem;
    margin-top: auto;
    align-self: flex-end;
    text-align: center;
    font-size: 0.7rem;
    border-top: styleConfig.$border-color 1px solid;
    border-left: styleConfig.$border-color 1px solid;
    border-top-left-radius: 5px;
  }
  &:hover{
    background-color: styleConfig.$main-color-hover;
  }
}
