@use '../styleConfig';

.button {
  width: 100%;
  padding: .3rem .4rem;
  margin-top: auto;
  font-size: 0.6rem;
  background: inherit;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.1s linear;
  &-close {
    display: flex;
    width: fit-content;
    padding: 0;
    min-height: 0;
    align-self: flex-start;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  &--white {
    color: styleConfig.$bg-color;
    @include styleConfig.bgWhiteHover;
    &-shadow {
      color: styleConfig.$bg-color;
      @include styleConfig.bgWhiteHover;
      box-shadow: 0 0 10px styleConfig.$white;
      &:active {
        box-shadow: none;
      }
    }
  }
  &--red {
    color: styleConfig.$white;
    @include styleConfig.bgRedHover;
    &-shadow {
      color: styleConfig.$white;
      @include styleConfig.bgRedHover;
      box-shadow: 0 0 10px styleConfig.$red;
      &:active {
        box-shadow: none;
      }
    }
  }
}
